h2{
  color: #e4e4e4;
}

h3{
  color: #e4e4e4;
}

h4{
  color: #e4e4e4;
}

input{
  color: #e4e4e4;
  background-color: #2f2f2f;
}

button{
  color: #e4e4e4;
  background-color: #2f2f2f;
}

span{
  color: #e4e4e4;
}

label{
  color: #e4e4e4;
}

.producto-item {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    border-collapse: collapse;
    width: 75%;
}

.cantidad-controls {
    display: flex;
    align-items: center;
}

.cantidad-controls button {
    margin: 0 5px;
}

.container{
  margin-right: 50px;
  margin-left: 50px;
  color: #e4e4e4;
}

.carrito-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #2f2f2f;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cantidad-controls button {
  margin: 0 5px;
}

.icon {
  width: 24px;
  height: 24px;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 15px auto;
}

.form-group label {
  width: 100px;
  margin-left: 200px;
}

.form-group input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 200px;
}

.producto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.producto-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.items {
  flex: 2;
  text-align: left;
  padding-right: 20px;
}

.categoria {
  flex: 1;
  text-align: left;
  white-space: nowrap; 
}

.cantidad-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.cantidad-controls button {
  margin: 0 5px;
}