h2{
    color: #e4e4e4;
}

button{
    color: #e4e4e4;
    background-color: #2f2f2f;
}

label{
    color: #e4e4e4;
}

input{
    color: #e4e4e4;
    background-color: #2f2f2f;
}

select{
    color: #e4e4e4;
    background-color: #2f2f2f;
}